@import 'vars';
@import 'fonts';
@import 'libs';

::placeholder{
    color: #bbb;
}

::selection{
    color: #fff;
    background-color: $accent;
}

html{
    height: 100%;
}

body{
    font-family: $default-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.28;

    padding-top: 100px;

    position: relative;

    min-width: 320px;
    &.no-scroll{
        position: fixed;

        overflow-y: scroll;

        width: 100%;
        height: 100%;
    }
    input,
    textarea{
        border: #666 1px solid;
        outline: none;
        &:focus:required:invalid{
            border-color: red;
        }
        &:required:valid{
            border-color: green;
        }
    }
}

label{
	margin: 0;
}

b{
    font-weight: bold;
}

.img-responsive{
    display: block;

    max-width: 100%;
    height: auto;
}

.hidden{
	display: none;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.minh-100{
    min-height: 100vh;
}

h2{
    font-family: 'Roboto Slab';
    font-size: 42px;
    margin: 0;

    text-align: center;
}

.btn{
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;

    display: inline-block;

    width: 240px;
    margin: 0;

    cursor: pointer;
    transition: background .3s ease;
    text-align: center;

    border-radius: 8px;
}

.btn-bg{
    color: $light!important;
    border: 2px solid $accent;
    background-color: $accent;
    &:hover{
        text-decoration: none;

        color: $accent!important;
        border: 2px solid $accent;
        background-color: transparent;
    }
}

.btn-no-bg{
    color: $accent!important;
    border: 2px solid $accent;
    background-color: transparent;
    &:hover{
        text-decoration: none;

        color: $light!important;
        border: 2px solid $accent;
        background-color: $accent;
    }
}

.btn-no-bg-black{
    color: $modal-header!important;
    border: 2px solid $modal-header;
    background-color: transparent;
    &:hover{
        text-decoration: none;

        color: $light!important;
        border: 2px solid $modal-header;
        background-color: $modal-header;
    }
}

/* Modal
 * =============================== */
.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    // transition: opacity .25s ease;
    transition: opacity .3s ease;
    text-align: left;
	width: 0;
	height: 0;
    opacity: 0;
    background: rgba(0,0,0, .5);
}

.modal-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state{
    display: none;
}

.modal-state:checked + .modal{

    opacity: 1;

	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
}

.modal-state:checked + .modal .modal-inner{
    top: 0;
}

.modal-inner{
    position: absolute;
    // top: -20%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    width: 100%;
    max-width: 380px;
    height: 90%;
    max-height: 490px;
    margin: auto;

    // transition: top .25s ease;
    border-radius: 5px;
    background: $light;
    box-shadow: 0 8px 13px $shadow-block;
}

.modal-header{
	line-height: 40px;
	background-color: $modal-header;
	color: $light;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
}

.modal-body{
	padding: 50px 50px 0 50px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto';
	.form-group{
		margin-bottom: 30px;
	}
	input{
	    outline: none;
	    border: 0;
	    border-bottom: 1px solid #45413D;
	    width: 100%;
	}
	p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 45px;
	}
	.btn{
		width: 100%;
		font-size: 20px;
		outline: none;
	}
	.form-group-links{
		text-align: center;
		a{
			color: #000;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	h3{
		font-size: 24px;
		line-height: 20px;
	}
	img{
		width: 96px;
		margin: 45px 0;
	}
}

.modal-get{
	max-height: 430px;
	.btn{
		margin-top: 20px;
	}
	.done{
		padding: 55px 50px 0 50px;
		img{
			margin: 50px 0;
		}
	}
}

.modal-send{
	max-height: 420px;
	.modal-body{
		padding: 60px 50px 0 50px;
	}
	.btn{
		margin-top: 40px;
	}
	.done{
		img{
			margin: 40px 0;
		}
	}
}

.modal-close{
    position: absolute;
    top: 11px;
    right: 10px;

    width: 24px;
    height: 24px;

    cursor: pointer;
}

.modal-close:after,
.modal-close:before{
    position: absolute;
    top: 0;
    left: 50%;

    display: block;

    width: 2px;
    height: 24px;
    margin: -3px 0 0 -1px;

    content: '';
    transform: rotate(45deg);

    background: $light;
}

.modal-close:hover:after,
.modal-close:hover:before{
    background: #aaa;
}

.modal-close:before{
    transform: rotate(-45deg);
}

.done{
	display: none;
}

#result{
	overflow: auto;
	height: 100%;
	padding: 15px 15px 30px 0;
}

.modal-terms{
	.modal-inner{
		overflow: hidden;
		max-width: 1210px;
		width: 90%;
		height: 90%;
        max-height: inherit;
		padding: 15px 0 0 15px;
		max-height: initial;
	}
	.modal-close{
		top: 15px;
		&:after{
			background: $modal-header;
		}
		&:before{
			background: $modal-header;
		}
	}
	h4{
		border-bottom: 1px solid #e5e5e5;
		padding: 0 15px 15px 15px;
		margin: 0 -15px 0 -15px;
		box-shadow: 0 3px 6px $shadow-block;
	}
}

@media screen and (max-width: 460px){
	.modal-body{
		padding: 50px 35px 0 35px;
		.btn{
			font-size: 18px;
		}
	}
    .modal-inner{
        box-sizing: border-box;
        width: 90%;
    }
}


/* amoCRM
 * =============================== */

.overplay, .overplay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    opacity: 0.5;
    display: none;
    z-index: 100;
    cursor: pointer;
}

.iframe-block, .iframe-block2, .iframe-block3 {
    position: fixed;
    border: medium none;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    z-index: 110;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.amo-active{
    width: 90%;
    max-width: 420px;
    opacity: 1;
}

.iframe-block{
    height: 378px;
}

.iframe-block2{
    height: 457px;
}

.iframe-block3{
    height: 457px;
}

.amoforms__fields__submit{
    .amoforms__submit-button{
        border-radius: 8px!important;
        max-width: 240px!important;
        width: 100%!important;
    }
}

#button_submit, .amoforms-sended-message_wrapper{
    border-radius: 8px!important;
}

/* Header
 * =============================== */

#header{
    position: fixed;
    z-index: 100;
	height: 100px;
	top: 0;
	left: 0;
	width: 100%;
    background: $light;
    transition: all 0.3s ease-out;
    box-shadow: 0 -21px 40px 20px #aaaaaa;
	.header{
	    .logo-wr{
	        margin-right: 30px;
	    }
	    .logo{
	        img{
	        	cursor: pointer;
	            width: 200px;
	            transition: all 0.3s ease-out;
	        }
	    }
	    nav{
	        position: relative;
	        .moile-menu{
	            display: none;
	        }
	        ul.menu{
	            display: flex;

	            margin: 0;
	            padding: 0;

	            list-style: none;
	            li{
	                display: inline-block;
	                &:last-child{
	                    a{
	                        &:after{
	                            display: none;
	                        }
	                    }
	                }
	                a,
	                .help{
	                	transition: all 0.3s ease-out;
	                    font-size: 18px;

	                    position: relative;

	                    display: inline-block;

	                    margin: 0;

	                    cursor: pointer;
	                    text-decoration: none;

	                    color: $menu;
	                    &:after{
	                        position: absolute;
	                        bottom: -6px;
	                        left: 0;

	                        display: block;

	                        width: 100%;
	                        height: 4px;

	                        content: '';
	                        transition: opacity .3s ease;

	                        opacity: 0;
	                        background-color: $accent;
	                    }

	                    &:hover{
	                        &:after{
	                            opacity: 1;
	                        }
	                    }
	                }
	                .btn{
	                	transition: all 0.3s ease-out;
	                }
	            }
	        }
	    }
	}
    &.small{
    	height: 60px;
		.header{
			.logo{
				img{
					width: 160px;
				}
			}
			nav{
				.menu-wrap{
						top: 60px;
					}
				ul.menu{
					li{
	                	a,
	                	.help{
							font-size: 18px;
						}
						.btn{
							line-height: 36px;
							width: 210px;
						}
					}
				}
			}
		}
	}
}
.overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

	display: none;
    background: rgba(0,0,0,.5);
}

/* Main
 * =============================== */

#main{
    background: url(../img/bg_main.jpg) no-repeat;
    background-position-y: bottom;
    background-size: cover;
    .row{
        height: calc(100vh - 100px);
        padding: 30px 0;
        font-size: 42px;
        b{
            font-weight: 500;
        }
        h1{
            font-family: 'Roboto Slab';
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 0;
        }
        .btn{
            margin-top: 115px;
        }
    }
}


/* App-Features
 * =============================== */

#app-features{
    .row{
        position: relative;
        min-height: 860px;
        .slides{
            position: initial;
            min-height: 100vh;
            padding: 90px 0 60px 0;
        }
    }
    .owl-carousel{
        position: initial;
        .owl-stage-outer{
            z-index: 999;
            .item{
                h4{
                    font-size: 18px;

                    position: relative;
                    z-index: 100;

                    display: flex;

                    width: 197px;
                    height: 126px;
                    margin: 0 auto -25px;
                    padding: 0 10px 25px 10px;

                    text-align: center;

                    color: $light;

                    justify-content: center;
                    align-items: center;
                    &.odd{
                        background: url(../img/cloud_orange.svg) no-repeat;
                        background-size: 100%;
                    }
                    &.even{
                        background: url(../img/cloud_gray.svg) no-repeat;
                        background-size: 100%;
                    }
                }
                img{
                    width: 220px;
                    margin: 0 auto;
                }
            }
        }
        .owl-dots{
            .owl-dot{
                outline: none;
                span{
                    width: 12px;
                    height: 12px;

                    background: #cbcccd;
                }
            }
            .owl-dot.active{
                span{
                    background: $accent;
                }
            }
        }
        .owl-nav{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            height: 79px;
            margin: auto;
            .owl-prev{
                position: absolute;
                z-index: 999;
                left: 5px;

                width: 47px;
                height: 79px;
                margin: 0;

                text-indent: -9000px;

                opacity: 1;
                border-top: 0;
                border-right: 0;
                outline: 0;
                background: url(../img/arrow_left.svg) no-repeat;
                &:active{
                	filter: brightness(90%);
                }
            }
            .owl-next{
                position: absolute;
                z-index: 999;
                right: 5px;

                width: 47px;
                height: 79px;
                margin: 0;

                text-indent: -9000px;

                opacity: 1;
                border-bottom: 0;
                border-left: 0;
                outline: 0;
                background: url(../img/arrow_right.svg) no-repeat;
                &:active{
                	filter: brightness(90%);
                }
            }
        }
    }
    .more{
        margin-top: -30px;

        text-align: center;
        .more-title{
            font-size: 24px;

            margin-bottom: 20px;
        }
    }
}


/* Service-Includes
 * =============================== */

#service-includes{
    font-size: 24px;
    font-weight: 500;

    overflow: hidden;

    background-color: $bg-pages;

    h2{
        display: inline-block;

        padding: 15px 55px;

        color: $light;
        background-color: $accent;
    }

    .apps-title{
        font-size: 24px;
        line-height: 30px;
    }
    .apps-wrap{
        min-height: 100vh;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .apps{
        position: relative;

        height: 513px;
        margin-top: 10px;
        .icons-apps{
            width: 152px;
            margin-bottom: 44px;
            a{
                display: inline-block;

                width: 135px;
                margin-bottom: 15px;

                transition: opacity .3s ease;

                opacity: .5;
                &:hover{
                    opacity: 1;
                }
            }
        }
        &:before{
            position: absolute;
            bottom: 27px;
            left: 153px;

            width: 179px;
            height: inherit;

            content: '';

            background: url(../img/app_m.png) bottom no-repeat;
            background-size: 100%;
        }
        &:after{
            position: absolute;
            right: -143px;

            width: 917px;
            height: inherit;

            content: '';

            background: url(../img/app_d.png) center no-repeat;
            background-size: 100%;
        }
    }
    .try-title{
        margin-bottom: 30px;
    }
}


/* How-It-Works
 * =============================== */

#how-it-works{
    .how-it-works-wr{
        padding: 90px 0 70px 0;
        width: 100%;
        margin: 0 auto;
    }
    h2{
        margin-bottom: 30px;
    }
    .hiw-block{
        font-size: 24px;

        position: relative;

        width: 100%;
        min-width: 205px;
        max-width: 282px;
        height: 340px;
        margin: 25px auto 110px auto;
        padding: 60px 15px 20px 15px;

        border-radius: 13px;
        background-color: $hiw-bg;
        box-shadow: 0 3px 6px $shadow-block;
        .btn{
            width: auto;
            padding: 0;

            color: $number!important;
            border: none;
            &:hover{
                text-decoration: underline;

                background: none;
            }
        }
        .number{
            font-size: 40px;
            font-weight: 900;
            line-height: 60px;

            position: absolute;
            top: -30px;
            right: 0;
            left: 0;

            width: 60px;
            margin: auto;

            color: $light;
            border-radius: 50%;
            background-color: $number;
        }
        .hiw-text{
            padding: 0 16px 50px 16px;
        }
        .hiw-info{
            font-size: 18px;
            font-style: italic;

            position: absolute;
            right: 15px;
            bottom: -95px;
            left: 15px;

            height: 80px;

            text-align: left;
        }
        .hiw-info-last{
            z-index: 10;
            left: 15px;

            width: 520px;
        }
    }
    .icon-tel{
        position: relative;
        &:before{
            position: absolute;
            top: auto;
            right: 0;
            bottom: 27px;
            left: 34px;

            width: 90px;
            height: 90px;
            margin: auto;

            content: '';

            background: url(../img/tel_icon.svg) no-repeat;
        }
    }
    .more{
        .more-title{
            font-size: 24px;

            margin-bottom: 20px;
        }
    }
}


/* Cost
 * =============================== */

#cost{
    font-size: 24px;
    line-height: 34px;

    background: url(../img/bg_cost.jpg) no-repeat;
    background-position-x: 70%;
    background-size: cover;
    .bg-cost{
        display: none;
    }
    .row{
        height: 100vh;
        h2{
            margin-bottom: 45px;

            text-align: left;
        }
        h3{
            font-family: 'Roboto Slab';
            font-size: 24px;

            margin: 35px 0;
        }
    }
}

/* Logo-Org
 * =============================== */

#logo-org{
    background-color: $bg-pages;
    .mobile-title-logo-org{
        display: none;
    }
    .row{
        height: 100vh;
        max-height: 768px;
    }
    .logo-org{
        font-size: 20px;
        font-weight: 700;

        position: relative;

        height: 540px;

        text-transform: uppercase;

        background: url(../img/branding.png) no-repeat;
        .logo-org-color{
            position: absolute;
            top: 82px;
            left: 300px;
        }
        .logo-org-logo{
            position: absolute;
            top: 271px;
            left: 285px;
        }
    }
    .logo-org-info{
        h2{
            display: block;
            margin-bottom: 30px;
            font-size: 34px;
        }
        .logo-org-text{
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 40px;
            padding-right: 20px;
        }
    }
}


/* Benefit
 * =============================== */

#benefit{
    background: url(../img/bg_benefit.jpg) no-repeat;
    background-size: cover;
    .benefit-wrap{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    h2{
        display: inline-block;

        padding: 15px 55px;

        color: $light;
        background-color: $accent;
    }
    h3{
        font-family: 'Roboto Slab';
        font-size: 28px;
        line-height: 34px;

        margin: 60px 0 40px 0;
    }
    .benefit-block{
        padding: 15px;
        p{
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;

            min-width: 210px;
            height: 100%;
            margin: 0;
            padding: 40px 30px 30px 35px;

            background: $light;
            box-shadow: 0 3px 6px $shadow-block;
        }
    }
    .orange{
        p{
            position: relative;
            &:after{
                position: absolute;
                top: -12px;
                left: 40px;

                width: 35px;
                height: 35px;

                content: '';

                background: url(../img/check_orange.svg) no-repeat;
            }
        }
    }
    .green{
        p{
            position: relative;
            &:after{
                position: absolute;
                top: -12px;
                left: 40px;

                width: 35px;
                height: 35px;

                content: '';

                background: url(../img/check_green.svg) no-repeat;
            }
        }
    }
}



/* Modern-tech
 * =============================== */

#modern-tech{
	background-color: $bg-pages;
	.row{
		max-height: 768px;
		height: 100vh;
	}
	.modern-tech-wr{
		height: 350px;
	}
	h2{
		text-align: left;
	}
	p{
        margin-top: 20px;
		margin-bottom: 60px;
		font-size: 24px;
		line-height: 34px;
	}
	.modern-tech-img{
		background: url(../img/modern_tech.png) no-repeat;
		height: 414px;
		background-position: center;
		background-size: contain;
	}
}


/* Footer
 * =============================== */

#footer{
	background-color: $bg-footer;
	.footer{
		padding: 70px 0;
		color: $light;
		font-size: 14px;
		&>div{
			margin-bottom: 60px;
		}
		.logo{
			img{
				cursor: pointer;
				width: 180px;
			}
		}
		.copyright{
			margin: 9px 0 40px 0;
			line-height: 22px;
			font-weight: 400;
		}
		.terms-of-use{
			font-size: 14px;
			color: $accent;
			text-decoration: underline;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
		p{
			font-family: 'Open Sans';
			font-weight: 600;
			margin-top: 16px;
		}
		.tel{
			font-size: 26px;
			font-family: 'Open Sans';
			font-weight: 700;
			color: $light;
			&:hover{
				text-decoration: none;
			}
		}
		.email{
			width: 100%;
			padding-top: 40px;
			a{
				font-size: 16px;
				color: $light;
				padding-left: 30px;
				display: inline-block;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0px;
					width: 20px;
					height: 16px;
					background: url(../img/mail.svg);
				}
			}
		}
		.footer-apps{
			width: 100%;
			max-width: 270px;
			a{
				width: 128px;
				margin-top: 5px;
				margin-bottom: 5px;
				display: inline-block;
				&:hover{
					opacity: .8;
				}
			}
		}
		.social{
			.social-wr{
				display: inline-block;
				margin-right: 17px;
				&:last-child{
					margin-right: 0;
				}
			}
			padding-top: 5px;
			a{
				display:inline-block;
				margin-right: 17px;
				margin-bottom: 17px;
				&:last-child{
					margin-right: 0;
				}
				img{
					width: 48px;
					&:hover{
						opacity: .8;
					}
				}
			}
		}
	}
}

.up {
    width: 70px;
    height: 50px;
    background-color: #000;
    color: #FFF;
    font-size: 33px;
    text-align: center;
    border-radius: 0px;
    display: none;
    cursor: pointer;
    margin-bottom: 40px;
    .arrow-wr{
    	height: inherit;
	}
	.arrow{
		height: 8px;
		width: 30px;
		margin: 0px;
		position: relative;
		&:before{
			content: "";
			height: 100%; width: 50%;
			position: absolute; top: 0;
			background: #fff;

			left: 0;
			transform: skew(0deg, -32deg);
		}
		&:after{
			content: "";
			height: 100%; width: 50%;
			position: absolute; top: 0;
			background: #fff;

			right: 0;
			transform: skew(0deg, 32deg);
		}
	}
}

@import 'media'; // Always at the end
